
# Eclipse project files
.project
.classpath
.settings
*.out
# IntelliJ IDEA project files and directories
*.iml
*.ipr
*.iws
.idea/

# Geany project file
.geany

# KDevelop project file and directory
.kdev4/
*.kdev4

# Build targets
/target
*/target
*.pyc
# Report directories
/reports
*/reports
**/__pycache__/*
# Mac-specific directory that no other operating system needs.
.DS_Store

# JVM crash logs
hs_err_pid*.log

dependency-reduced-pom.xml

#java
*.o
*.class

/.idea
/nms-common/*.iml
/nms-facade/nms-facade.iml
/nms-service/*.iml
/nms/.dubbo
/nms-service/.dubbo
app.properties.local
### Example user template template
### Example user template

# IntelliJ project files
.idea

out
gen
### Example user template template
### Example user template


.idea/workspace.xml
leveldb4jcore/src/main/resources/
leveldb4jcore/target/
/leveldb4jcore/*.iml
/*.iml
